name: CI pipeline

on:
    push:
        branches: [main]

jobs:
  setup:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.13.5"
        
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            python -m playwright install chromium
            python -m playwright install firefox
            python -m playwright install webkit

        - name: Prepare report folder
          run: |
              mkdir -p test-reports
    
  tests:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.5"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium
          python -m playwright install firefox
          python -m playwright install webkit

      - name: run tests
        run: pytest Tests/
      - uses: actions/upload-artifact@v4
        with:
          name: tests-report
          path: test-reports/